@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Rubik:wght@300;400&display=swap');

body{
  background: #141414;
  color: #fff;
  font-family: "rubik";
}

.movie-app > .row{
overflow-x: auto;
flex-wrap: nowrap;
}

.image-container {
	position: relative;
	transition: transform 0.2s;
}
